<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wd.login">

    <application>
        <activity android:name=".activity.wxapi.WXEntryActivity"></activity>
        <activity android:name=".activity.activity.GuidePageActivity" />
        <activity android:name=".activity.activity.LoginSetNewPassWordActivity" />
        <activity android:name=".activity.activity.LoginForgetPassWordActivity" />
        <activity android:name=".activity.activity.LoginRegisterActivity" />
        <activity android:name=".activity.activity.LoginLonginActivity" />
        <activity android:name=".activity.activity.LoginLaunchPageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>