<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wd.my">

    <application>
        <activity android:name=".activity.MyMyMainActivity"></activity>
        <activity android:name=".activity.CurrentConsultationActivity"></activity>
        <activity android:name=".activity.HistoryConsultationActivity"></activity>
        <activity android:name=".activity.SetActivity"></activity>
        <activity android:name=".activity.UserInfoActivity"></activity>
    </application>

</manifest>